.event {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100px;
  height: 50px;
  background-color: rgb(76, 176, 243);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: 10px;
  font-size: 10px;
  padding: 0px;
  &:hover {
    z-index: 1;
    .button-event-delete {
      visibility: visible;
    }
  }
}

.button-event-delete {
  display: flex;
  z-index: 2;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 70px;
  top: 45px;
  right: -65px;
  box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.2), -4px 4px 6px -1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  padding: 3px;
  font-size: 8px;
  color: #70757a;
  padding: 10px;
}

.title {
  margin-bottom: 5px;
  font-style: italic;
}

